{% assign awards = site.data.awards %}

<table class="timeline-table awards-table">
  <tbody>
    {% for award in awards.items %}
      <tr>
        <th scope="row"><time datetime="{{ award.datetime }}">{{ award.date }}</time></th>
        <td>
          {% if award.certificate %}
            <button
              class="award-certificate-trigger"
              type="button"
              aria-expanded="false"
              aria-controls="award-certificate-{{ forloop.index }}"
            >
              {{ award.text }}
            </button>
            <figure id="award-certificate-{{ forloop.index }}" class="award-certificate-panel" hidden>
              <img src="{{ award.certificate | relative_url }}" alt="{{ award.certificate_alt }}" loading="lazy" />
            </figure>
          {% else %}
            {{ award.text }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
