{% assign awards = site.data.awards %}

<table class="timeline-table awards-table">
  <tbody>
    {% for award in awards.items %}
      <tr>
        <th scope="row"><time datetime="{{ award.datetime }}">{{ award.date }}</time></th>
        <td>
          {% if award.certificate %}
            <details class="award-certificate">
              <summary>{{ award.text }}</summary>
              <figure class="award-certificate-panel">
                <img src="{{ award.certificate | relative_url }}" alt="{{ award.certificate_alt }}" loading="lazy" />
              </figure>
            </details>
          {% else %}
            {{ award.text }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
